/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/**
 * Remove the gap between media elements and the bottom of their containers:
 * h5bp.com/i/440
 */

img,
canvas,
svg,
audio,
video {
  vertical-align: middle;
}


/**
 * Fluid width, responsive images.
 */

img {
  max-width: 100%;
}


/**
 * Don't flow image dimensions if you specify a height or width in the HTML.
 */

img[width],
img[height] {
  max-width: none;
}
