/*------------------------------------*\
  #PAGE
\*------------------------------------*/

/**
 * 1. Improved default box model - http://goo.gl/3ed2H
 * 2. Force scrollbars on all browsers.
 * 3. Content should fill entire browser window.
 */

html {
  box-sizing: border-box; /* [1] */
  overflow-y: scroll; /* [2] */
  height: 100%; /* [3] */
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: palette(dark);
}

*,
*::before,
*::after {
  box-sizing: inherit; /* [1] */
}

body {
  min-height: 100%; /* [3] */
  background-color: palette(light);
}
