/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

/**
 * Consistent spacing for vertical rhythm.
 */

p,
ul,
ol,
dl,
blockquote,
table,
fieldset,
figure,
pre,
hr,
.spaced-block,
%spaced-block {
  margin-bottom: $space;
  margin-top: 0;
}





/**
 * Lists
 *
 * 1. Remove vertical spacing from nested lists.
 */

li {
  ul,
  ol {
    margin-bottom: 0; /* [1] */
  }
}





/**
 * Links
 */

a {
  color: #00e;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}





/**
 * Horizontal rule
 */

hr {
  border-top: 1px solid #ccc;
  border: 0;
  display: block;
  height: 1px;
  padding: 0;
}





/**
 * Better default blockquote
 */

blockquote {
  border-left: 3px solid;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
}





/**
 * Define custom text-selection color and remove shadows.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
