/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

/**
 * Define custom text-selection colors and remove shadows.
 */

$selection-color: #b3d4fc;

// scss-lint:disable VendorPrefix
::-moz-selection {
  text-shadow: none;
  background: $selection-color;
// scss-lint:enable VendorPrefix
}

::selection {
  text-shadow: none;
  background: $selection-color;
}





/**
 * Consistent spacing for vertical rhythm.
 */

p,
ul,
ol,
dl,
blockquote,
table,
fieldset,
figure,
pre,
hr,
.spaced-block,
%spaced-block {
  margin-top: 0;
  margin-bottom: $space;
}





/**
 * Lists
 *
 * 1. Remove vertical spacing from nested lists.
 */

li {
  ul,
  ol {
    margin-bottom: 0; /* [1] */
  }
}





/**
 * Links
 */

a {
  color: #0000ee;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}





/**
 * Horizontal rule
 */

hr {
  display: block;
  height: 1px;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}





/**
 * Better default blockquote
 */

blockquote {
  padding-left: 1rem;
  margin-right: 0;
  margin-left: 0;
  border-left: 3px solid;
}
