/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

/**
 *  1. Better box model than `inline`.
 *  2. Format the button's text to simplify padding.
 *  3. Line buttons up better together and with other elements.
 *  4. Reset `<button>` element defaults.
 */

.c-btn {
  display: inline-block;       /* [1] */
  padding: .5rem 1rem;
  margin: 0;

  font-family: inherit;
  line-height: 1;              /* [2] */
  text-align: center;          /* [2] */
  white-space: nowrap;         /* [2] */
  vertical-align: middle;      /* [3] */

  // border: 0;                   /* [4] */
  cursor: pointer;             /* [4] */
  appearance: none;            /* [4] */
}
