/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

/**
 *  1. Reset link styles to make way for button styles.
 *  2. Better box model than `inline`.
 *  4. Format the button's text to simplify padding.
 *  5. Line buttons up better together and with other elements.
 *  6. Reset `<button>` element defaults.
 *  7. More than one button next to each other should be spaced apart.
 */

.c-btn {
  @extend %o-plain-link;         /* [1] */

  display: inline-block;       /* [2] */
  padding: .5rem 1rem;
  margin: 0;

  font-family: inherit;
  line-height: 1;              /* [4] */
  text-align: center;          /* [4] */
  white-space: nowrap;         /* [4] */
  vertical-align: middle;      /* [5] */

  // border: 0;                   /* [6] */
  cursor: pointer;             /* [6] */
  appearance: none;            /* [6] */

  & + & {
    margin-left: ($space / 2);  /* [7] */
  }
}
