/*------------------------------------*\
  #HELPER
\*------------------------------------*/

/**
 * Micro Clearfix:
 * Supports IE8 and above
 */

.clearfix::after,
%clearfix::after {
  display: table;
  clear: both;
  content: '';
}
