/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/**
 * Media Object:
 * The media object is a common layout in modern design: an image or other
 * media alongside a body of text.
 */

.o-media {
  display: flex;
  align-items: flex-start;
}

.o-media__figure {
  margin-right: ($space / 2);
}

.o-media__body {
  flex: 1;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Media with vertical centering
 */

.o-media--center {
  align-items: center;
}


/**
 * Reversed media has `.o-media__figure` on the right instead of the left.
 */

.o-media--reverse {
  > .o-media__figure {
    order: 1;
    margin-right: 0;
    margin-left: ($space / 2);
  }
}
