/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/

.o-container {
  @extend %u-clearfix;
  max-width: 52rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  overflow: visible;
}
