// -----------------------------------*\
// #SETTINGS
// -----------------------------------*/

//
// External settings imports
//

@import 'settings.color';





//
// Base typography configuration
//
// 1. A setting of 100% for the body font size will create a 16px default.
//

$base-font-size: 100%; // [1]
$base-line-height: 1.5;
$base-font-family: sans-serif;


//
// Font sizes are set using the Modular Scale Sass plugin for improved
// typography. Typographic scale can be calculated using:
// http://modularscale.com/
//
// 1. Base value for the typographic scale. Should ordinarily be left at 1em.
// 2. Ratio for the multiples on the typographic scale. A list of ratio
//    variables can be found here:
//    https://github.com/modularscale/modular-scale#ratios
//

$modularscale: (
  base: 1em, // [1]
  ratio: $fifth // [2]
)


//
// Vertical rhythm units
//

$space: $base-line-height * 1rem;
$em-space: $base-line-height * 1em;





//
// Breakpoints for mobile-first design
//

$break-mid:   32em; // [1]
$break-wide: 46em; // [1]
