/*------------------------------------*\
  #HELPER
\*------------------------------------*/

/**
 * Micro Clearfix:
 * Supports IE8 and above
 */

.u-clearfix::after,
%u-clearfix::after {
  display: table;
  clear: both;
  content: '';
}





/**
 * Floats
 */

.u-float-left {
  float: left !important;
}

.u-float-right {
  float: right !important;
}
