/*------------------------------------*\
  $GENERAL
\*------------------------------------*/

/**
 * Better handling of margins and padding - http://goo.gl/3ed2H
 */
*,
*:before,
*:after {
    @include box-sizing(border-box);
}


html {
  min-height: 100%;
  overflow-y: scroll;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
}


/**
 * 1. Always set a default background color
 */
body {
  @include baseline-grid-background;
  background-color: $background-color; /* [1] */
}
