/*------------------------------------*\
  #SHARED
\*------------------------------------*/

/**
 * Consistent spacing for vertical rhythm.
 */

p,
ul,
ol,
dl,
blockquote,
table,
fieldset,
figure,
pre,
hr,
.spaced-block,
%spaced-block {
  margin-top: 0;
  margin-bottom: $space;
}


/**
 * Remove the gap between media elements and the bottom of their containers:
 * h5bp.com/i/440
 */

img,
canvas,
svg,
audio,
video {
  vertical-align: middle;
}
