/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

/**
 * Define custom text-selection colors and remove shadows.
 */

$selection-color: #b3d4fc;

::-moz-selection {
  background: $selection-color;
  text-shadow: none;
}

::selection {
  background: $selection-color;
  text-shadow: none;
}





/**
 * Headings
 *
 * Heading definitions also include a class name to apply heading styles to
 * other elements, or even other headings.
 * NOTE: Use `text-rendering` with caution - http://goo.gl/hNVLXT
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $half-space;
  font-weight: 700;
  line-height: $heading-line-height;
  text-rendering: optimizeLegibility;
}

h1, .alpha   { font-size: $h1; }
h2, .beta    { font-size: $h2; }
h3, .gamma   { font-size: $h3; }
h4, .delta   { font-size: $h4; }
h5, .epsilon { font-size: $h5; }
h6, .zeta    { font-size: $h6; }


/**
 * Extra-huge text.
 */

.giga { font-size: $giga; }
.mega { font-size: $mega; }
.kilo { font-size: $kilo; }


/**
 * Smallprint and other tiny type.
 */

small, .milli { font-size: $milli; }
.micro        { font-size: $micro; }





/**
 * Lists
 *
 * 1. Remove vertical spacing from nested lists.
 */

li {
  ul,
  ol {
    margin-bottom: 0; /* [1] */
  }
}





/**
 * Quotes
 */

 blockquote {
   padding-left: $space;
   border-left: 3px solid;
   margin-right: 0;
   margin-left: 0;
 }





/**
 * Links
 * NOTE: Override these styles with `.plain-link` in module/_plain.scss.
 */

@mixin link-underline {
  @if $link-underline == "border" {
    border-bottom: 1px solid;
    text-decoration: none;
  } @else if $link-underline == "underline" {
    text-decoration: underline;
  } @else {
    text-decoration: none;
  }
}

a {
  @include link-underline;
  color: $link-color;

  // &:hover,
  // &:focus {

  // }
}
