/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/**
 * Media Object:
 * The media object is a common layout in modern design: an image or other
 * media alongside a body of text.
 *
 * 1. Ensure the wrapper and body text contain the elements within.
 */

.media {
  @extend %spaced-block;
  @extend %clearfix; /* [1] */
}

.media__visual {
  float: left;
  margin-right: $half-space;
}

.media__body {
  overflow: hidden; /* [1] */
  display: block;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Reversed media has the visual on the right instead of the left.
 */

.media--rev .media__visual {
  float: right;
  margin-left: $half-space;
}
