/*------------------------------------*\
  #PLAIN ELEMENTS
\*------------------------------------*/

/**
 * Plain lists remove bullets and align flush with content.
 */

.plain-list,
%plain-list {
  padding-left: 0;
  list-style: none;
}


/**
 * Plain links override the link styles found in base/_typography.scss.
 */

.plain-link,
%plain-link {
  border-bottom: 0;
  color: inherit;
}
